/* .Box {
  position: relative;
  overflow: hidden;
  width: 85%;
  padding-top: 45px;
  margin: auto;
  text-align: center;
  height: 400px;
}

.Box img {
  width: 100%;
  height: 400px;
  object-fit: contain;
  transition: all 0.8s ease-in-out;
}

.Box img:hover {
  opacity: 0;
}

.Box::before {
  content: attr(data-name);
  position: absolute;
  width: 75%;
  height: 90%;
  top: 0;
  left: 0%;
  color: black;
  background: #e2e2c7;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 16px;
  font-family: "Pragmatica";
  text-transform: uppercase;
  width: 71%;
  height: 89%;
  top: 45px;
  left: 10%;
}

.Box:hover::before {
  opacity: 1;
} */

/* Estilos de bordes para comunta  1 y 2 */
.leftBorder {
  border-left: solid #060000 1px;
  
}

.rightBorder {
  border-right: solid #060000 1px;
  border-left: solid #060000 1px;
  
}

/* Card diagonal */
.blankCard {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  padding: 4px;
  border-left: solid #666666 0.1px;
  border-right: solid #666666 0.1px;
  text-align: center;
}

.blankCardContent {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.diagonalLine {
  width: 100%;
  height: 1px;
  background-color: rgb(28, 0, 0);
  transform: rotate(55deg);
  position: absolute;
}

/*PRUEBA */

.hoverContainer {
  position: relative;
  text-align: center;
  width: 280px;
  margin: 20px auto;
}

.projectImage {
  display: block; /* Asegura que la imagen ocupa todo el contenedor */
  width: 100%;
  transition: all 0.6s ease-in-out; /* Transición suave para el efecto de desvanecimiento */
  
 
}

.hoverText {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e2e2c7; /* Fondo gris semitransparente */
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0; /* Inicialmente oculto */
  transition: all 0.6s ease;
}

.hoverText p {
  font-size: 16px;
  font-family: "Pragmatica";
  text-transform: uppercase;
  width: 50%;
}

.hoverContainer:hover .projectImage {
  opacity: 0; /* Oculta la imagen al hacer hover */
}

.hoverContainer:hover .hoverText {
  opacity: 1; /* Muestra el texto al hacer hover */
}
