.stickyLogo {
  position: absolute;
  top: 260px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1300;
  transition: transform 0.8s; /* Transición para el movimiento inicial */
}

/* Estilos para ocultar el logo con animación */
.hideLogo {
  animation: fadeAndDrop 0.8s ease forwards;
}

/* Estilos para la animación de desaparición hacia abajo */
.fadeAndDrop {
  animation: fadeAndDropDown 0.8s ease forwards;
}

/* Estilos para la animación de aparición hacia arriba */
.fadeAndRise {
  animation: fadeAndRiseUp 0.8s ease forwards;
}

/* Animación de desaparición hacia abajo */
@keyframes fadeAndDropDown {
  0% {
    opacity: 2;
    transform: translate(-50%, 0);
  }
  25% {
    opacity: 1.5;
    transform: translate(-50%, 30px);
  }
  50% {
    opacity: 1;
    transform: translate(-50%, 60px);
  }
  75% {
    opacity: 0.5;
    transform: translate(-50%, 120px);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, 160px);
  }
}

/* Animación de aparición hacia arriba */
@keyframes fadeAndRiseUp {
  0% {
    opacity: 0;
    transform: translate(-50%, 160px);
  }
  25% {
    opacity: 0.5;
    transform: translate(-50%, 120px);
  }
  50% {
    opacity: 1;
    transform: translate(-50%, 60px);
  }
  75% {
    opacity: 1.5;
    transform: translate(-50%, 30px);
  }
  100% {
    opacity: 2;
    transform: translate(-50%, 0px);
  }
}
